main{
    color:white;
    display:grid;
    grid-gap:0;
    grid-template-columns: 300px 300px 300px;
}
body{
    padding: 130px 0px;
    margin-left:190px;
}
h1{
    font-family: "Big Shoulders Display", sans-serif;
}
.orange{
    background-color: hsl(31, 77%, 52%);
    padding: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.light-cyan{
    background-color: hsl(184, 100%, 22%);
    padding: 50px;
}
.dark-cyan{
    background-color: hsl(179, 100%, 13%);
    padding: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
main>div>a{
    color:white;
    border:solid;
    border-width: 2px;
    text-decoration: none;
    border-radius: 45px;
    padding:15px;
}
.dark-cyan>a:hover{
    background-color: white;
    color: hsl(179, 100%, 13%);
}
.light-cyan>a:hover{
    background-color: white;
    color:hsl(184, 100%, 22%);
}
.orange>a:hover{
    background-color: white;
    color: hsl(31, 77%, 52%);
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: aliceblue;
    text-align: center;
}
p{
    font-weight: 200;
    margin-bottom: 50px;
    font-family: "Lexend Deca", sans-serif;
}

@media (max-width: 600px) {
    body{
        padding: 0px 50px;
        margin-left:0px;
    }
    main{
        display:grid;
        grid-gap:0;
        grid-template-columns: 400px;
    }   
    .dark-cyan>a{
        background-color: white;
        color: hsl(179, 100%, 13%);
    }
    .light-cyan>a{
        background-color: white;
        color:hsl(184, 100%, 22%);
    }
    .orange>a{
        background-color: white;
        color: hsl(31, 77%, 52%);
    }
}