main{
    color:white;
    display:grid;
    grid-gap:0;
    grid-template-columns: 300px 300px 300px;
}
body{
    padding: 130px 0px;
    font-family: "Lexend Deca", "Big Shoulders Display";
}
.orange{
    background-color: hsl(31, 77%, 52%);
    padding: 50px;
}
.light-cyan{
    background-color: hsl(184, 100%, 22%);
    padding: 50px;
}
.dark-cyan{
    background-color: hsl(179, 100%, 13%);
    padding: 50px;
}
main>div>a{
    color:white;
    border:solid;
    border-radius: 15px;
    padding:10px;
}
.attribution{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: aliceblue;
    text-align: center;
}